@model List<Fiap05.Web.MVC.Models.CartaoReal>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

@UtilsHelper.alert(TempData["msg"])

@using (Html.BeginForm("Pesquisar", "CartaoReal", FormMethod.Get, new { @class = "form-inline" }))
{
    @Html.TextBox("number", null, new { placeholder = "Digite o número do cartão", @class = "form-control" })
    @UtilsHelper.formSubmit("Pesquisar")
}

<table style="margin-top: 25px;" class="table">
    <tr>
        <th>ID</th>
        <th>Número</th>
        <th>CVV</th>
        <th>Aprovar</th>
        <th>Bloquear</th>
    </tr>
    <tr>
        @foreach (var i in Model)
        {
        <tr>
            <td>@i.CartaoRealId</td>
            <td>@i.Numero</td>
            <td>@i.Status</td>
            <td>
                @if (i.Status == Fiap05.Web.MVC.Models.StatusCartao.Bloqueado)
                {
                    <button onclick="craId.value = @i.CartaoRealId;" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#aproveModal">
                        Aprovar
                    </button>
                }
                else
                {
                    <strong>-</strong>
                }
            </td>
            <td>
                @if (i.Status == Fiap05.Web.MVC.Models.StatusCartao.Aprovado)
                {
                    <button onclick="crId.value = @i.CartaoRealId;" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">
                        Bloquear
                    </button>
                } else
                {
                    <strong>-</strong>
                }
            </td>
        </tr>
        }
    </table>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmar bloqueio</h4>
                </div>
                <div class="modal-body">
                    Você tem certeza que deseja bloquear o cartão?
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("Bloquear", "CartaoReal"))
                    {
                        <input type="hidden" name="status" id="craStatus" />
                        <input type="hidden" name="id" id="crId" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="aproveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmar aprovação</h4>
                </div>
                <div class="modal-body">
                    Você tem certeza que deseja confirmar o cartão?
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("Aprovar", "CartaoReal"))
                    {
                        <input type="hidden" name="id" id="craId" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    }
                </div>
            </div>
        </div>
    </div>


