@model List<Fiap05.Web.MVC.Models.CartaoVirtual>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

@using (Html.BeginForm("Pesquisar", "CartaoVirtual", FormMethod.Get, new { @class = "form-inline" }))
{
    @Html.DropDownList("numero", ViewBag.listaCartoes as SelectList, new { @class = "form-control" })
    @UtilsHelper.formSubmit("Pesquisar")
}
<br /><br />
<table class="table">
    <tr>
        <th>ID</th>
        <th>Número</th>
        <th>Utilizado</th>
        <th>Cartão real</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.CartaoVirtualId</td>
            <td>@i.Numero</td>
            <td>@(i.Utilizado ? "Sim" : "Não")</td>
            <td>@i.CartaoReal.Numero</td>
        </tr>
    }
</table>
